body {
  margin: 0;
  font-family: Helvetica, "Tahoma", sans-serif;
}

header {
  background: #4285f4;
  color: #FFF;
  padding: 2em;
}

header > *:not(:first-child) {
  margin-left: 2em;
}

main {
  margin: 0 auto;
  width: 85%;
  margin-top: 2em;
}

#display {
  font-size: 5em;
  text-align: center;
}

.alg-box {
  background: #EEE;
  border: 1px solid #777;
  display: inline-block;
  padding: 1em;
}

#history {
  height: 200px;
  overflow-y: scroll;
}
