/*
 * Font faces.
 */

@font-face {
  src: url("./fonts/digital-7.ttf") format("truetype");
  font-family: digital-7-mono;
}

/*
 * Big elements, default stylings.
 */

body {
  margin: 0;
  font-family: Helvetica, "Tahoma", sans-serif;
  display: flex;
  flex-flow: row wrap;
}

/*
 * Grid setup.
 */

#container {
  display: flex;
}

main {
  flex: 3 0;
}

aside {
  flex: 1 0;
}

#algorithms > div {
  display: flex;
  flex-flow: row wrap;
}

#algorithms > div > h2 {
  width: 100%;
}

#algorithm-sets > div {
  display: flex;
  flex-flow: row wrap;
}

/*
 * Algorithm styling and layout.
 */

.alg-box {
  background: #EEE;
  border: 1px solid #777;
  padding: 1em;
  flex: 1 1 325px;
  margin-left: -1px;
  margin-top: -1px;
}

#algorithm-sets {
  margin-top: 6em;
}

#algorithm-sets > button {
  margin-top: 1em;
  margin-bottom: 1em;
}

#algorithms > button {
    margin-top: 1em;
}

.set-box {
  background: #EEE;
  border: 1px solid #777;
  padding: 1em;
  flex: 1 1 200px;
  margin-left: -1px;
  margin-top: -1px;
}

/*
 * Highlight sets with enabled algorithms.
 */
.set-box.setBoxEnabled {
  border-color: #4285f4;
}

.set-box.setBoxFullyEnabled {
  border-color: #4BE813;
}

.set-box button:not(:first-child) {
  margin-left: 1em;
}

/*
 * Sidebar.
 */

aside {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px #000 inset;
  padding: 20px;
  color: #FFF;
}

#history {
  overflow-y: auto;
  padding-top: 1em;
  border-top: 1px solid #555;
}

#history a {
  cursor: pointer;
}

#history a:hover {
  text-decoration: underline;
}

#statistics {
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
}

#statistics p {
  margin: 0;
}

#statistics p:not(:first-child) {
  margin-top: 10px;
}

#statistics a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#statisticsInner {
  display: none;
  margin-top: 10px;
}

#statisticsInner.visible {
  display: block;
}

/*
 * Main window.
 */

main {
  padding: 1em;
}

 header {
   background: #4285f4;
   color: #FFF;
   padding: 2em;
   width: 100%;
 }

 header > *:not(:first-child) {
   margin-left: 2em;
 }

.select-bar {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, .25);
  padding: 0.5em;
}

.select-bar select {
  color: #FFF;
  height: 1.5em;
  cursor: pointer;
  vertical-align: middle;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  font-size: 1.5em;
}

header button {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, .25);
  color: #FFF;
  cursor: pointer;
  font-size: 1.5em;
}

.select-bar select option {
  background: #4285f4;
}

#scramble {
  font-size: 1.5em;
}

#scramble a {
  color: #FFF;
  text-decoration: none;
}

#scramble a:hover {
  text-decoration: underline;
}

#display {
  font-size: 8em;
  text-align: center;
  font-family: digital-7-mono;
}

#display.active {
  color: #50C223;
}
